.searchinput-img-container {
    display: flex;
}
.search-img {
    width: 2vw;
    height: 2vh;
}

.searchbar {
    width: 31vw;
    font-family: "Tinos", serif;
    height: 2vw;
    font-size: 1vw;
}